/* .page {
    display: flex;
    justify-content: center;
    padding: 40px 0;
  } */
  
  .resume-wrapper {
    width: 210mm;              /* A4 width */
    min-height: 297mm;         /* A4 height */
    background: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  }
  